@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello 3D World</title>
    <style type="text/css">
        #viewer {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    </style>
    <link rel="stylesheet" href="~/Scripts/Cesium/Widgets/widgets.css" />
    <script type="text/javascript" src="~/Scripts/Cesium/Cesium.js"></script>
    <script type="text/javascript" src="~/Scripts/czinit.js"></script>
    <script type="text/javascript">

        window.onload = function () {
            var viewer = createViewer("viewer", "@Url.Content("~/Scripts")");
        };

    </script>
</head>
<body>
    <div id="viewer"> 
    </div>
</body>
</html>
